<!DOCTYPE html>
<html>
    <head>
        <meta charset ="utf-8">
        <link rel="stylesheet" href="static/styles/login.css" />
        <title>Авторизация</title>
       
    </head>
    <body>
        <header>
            <div class = "text">
                <p id = "head">TeleLink</p>
                <p id = "subhead">вся информация об опорах в одном сервисе</p>
            </div>
        </header>
        <main>
            <div id = "login">
                <form action="/login" method="post"> 
                    <p><input type="text" name="login" placeholder="Логин" class="buttons" required /></p>
                    <p><input type="password" name="password" placeholder="Пароль" class="buttons" required /></p>
                    <p>
                        <button type="submit" class="sub">Войти</button>
                    </p>
                </form>
            </div>
        </main>
        <footer>

        </footer>
    </body>

</html>