<!DOCTYPE html>
<html>
<head>
    <title> Логин</title>
    <link rel="stylesheet" href="static/styles/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=befdab15-147d-4e67-9cfe-c12861387791" type="text/javascript"></script>
    <script src="static/scripts/main.js" type="text/javascript"></script>
</head>
<body>
    <div class="head">
        <div><img src="static/images/logotype.png" id = "logo" alt="лого" /></div>
        <div>
            <form >
                    <select name="dist" id="select-dist">
                        <option disabled selected>Поиск опор</option>
                        <option value="Avtozavod">Автозаводский район</option>
                        <option value="Nizegorod">Нижегородский район</option>
                        <option value="Leninsk">Ленинский район</option>
                        <option value="Sormovo">Сормовский район</option>
                        <option value="Kanavino">Канавинский район</option>
                        <option value="Sovetsk">Советский район</option>
                        <option value="Prioksk">Приокский район</option>
                        <option value="Moscow">Московский район</option>
                    </select>
            </form>
        </div>
        <div id = "username"><p>Admin<br/>Никита Сюхин</p></div>
        <div ><img src="static/images/user.png" id = "userphoto" alt="фото" /></div>
    </div>
    <div id ="mappa">
        <div id="map"></div>
        <button type="button" onclick="deleteMark()"class="buttonmap" id ="rightbuttonmap"> Удалить метку </button>
        <button type="button" onclick="addMark()" class="buttonmap" id ="leftbuttonmap"> Добавить метку </button> 
    </div>
    <div id ="table">
        <p class = "main">Информация об опорах
            
        <button type="button" onclick="" class="buttontable">Экспорт</button> 
        </p>
        <table>
        <tr>
            <td>Номер</td> <td>Адрес</td> <td>Геопозиция</td> <td>Название</td> <td>Владелец</td> <td>Провайдер</td> <td>Свободные слоты</td> <td>Состояние</td> <td>Спецификация</td>
            
        </tr>
        </table>
    </div>
    
</body>
</html>