 #map {
    float: left;
    width: 100%; height: 620px; padding: 0; margin: 0;
}
p{ 
    font-family:Roboto
}
#logo{ 
    height: 85px;
    width: 85pх;   
} 
select{
    width: 300pх;
}
.head div{
    float: left;
}
#username{
    margin-left: 900px;
}
#username p{
    text-align: center;
}
#userphoto{
    margin-left:20px;
    height: 60px;
    width: 60pх; 
}
.buttonmap{
    float:right;
}
#table{
    float:left;
    margin-top:30px;   
}
.main{
    font-size: 40px;
}
.buttontable{
    margin-left:1000px;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 10px;
}
td{
    font-family:Roboto;
    font-size: 27px;
}
@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto.ttf);
}